# ==============================================================================
# RIDEFLOW ANALYTICS — Environment Variables
# Copy: cp .env.example .env
# ==============================================================================

# PostgreSQL
POSTGRES_USER=dataengineer
POSTGRES_PASSWORD=dataengineer123
POSTGRES_DB=rideflow
POSTGRES_PORT=5432

# PgAdmin
PGADMIN_EMAIL=admin@gmail.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_UI_PORT=9001

# Jupyter
JUPYTER_TOKEN=dataengineer
JUPYTER_PORT=8888
SPARK_UI_PORT=4040

# Spark
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8080
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G
SPARK_WORKER1_UI_PORT=8081
SPARK_WORKER2_UI_PORT=8082
SPARK_HISTORY_PORT=18080

# Airflow
AIRFLOW_PORT=8085
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLt1jK7Ok=
AIRFLOW_SECRET_KEY=rideflow_secret_2026

# Metabase
METABASE_PORT=3000

# Kafka / Streaming (dùng với: make up-streaming)
ZOOKEEPER_PORT=2181
KAFKA_INTERNAL_PORT=9092
KAFKA_EXTERNAL_PORT=29092
KAFKA_UI_PORT=8090
